aws_region = "us-west-2"

env = "test"

tenant    = "en"
venue     = "pds-cds-test"
component = "o11y-cloudfront-streaming"
cicd      = "terraform"
managedby = "vt"

# Existing pds-logs-<env> bucket managed by pdc-cds-infra
pds_logs_bucket_arn = "arn:aws:s3:::pds-logs-test"

# Prefix used by Firehose within the existing logs bucket
pds_logs_firehose_prefix = "pdc-cds-infra/cloudfront/realtime/firehose"
